* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-top: 16px;
    border-radius: 5px;
    border: 2px solid teal;
}
